@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Las vistas son códigos parciales</p>
    <img src="~/images/peterporker.png"
        style="width: 450px; height: 450px"/>
</div>
