<h1>Send Mail Net Core</h1>

<form method="post">
    <label>Para</label>
    <input type="text" name="para" class="form-control"/>
    <label>Asunto</label>
    <input type="text" name="asunto" class="form-control"/>
    <label>Mensaje </label>
    <textarea name="cuerpo" class="form-control"></textarea>
    <button class="btn btn-warning">
        Send Mail
    </button>
</form>

<h2>
    @ViewData["MENSAJE"]
</h2>