@model List<Empleado>
<h1>Empleados almacenados IDS</h1>

<a asp-controller="EmpleadosSession"
   asp-action="SessionEmpleadosIds">
    Back to List
</a>

<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>

@if (Model != null)
{
    <ul class="list-group">
        @foreach (Empleado empleado in Model)
        {
            <li class="list-group-item">@empleado.Apellido</li>
        }
    </ul>
}