
<h1>View Controller Post</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Email: </label>
    <input type="text" name="email" class="form-control"/>
    <label>Edad: </label>
    <input type="text" name="edad" class="form-control"/>
    <button class="btn btn-info">
        Enviar datos
    </button>
</form>
<h1>
    @ViewData["MENSAJE"]
</h1>